.light-blue {
  background-color: lightblue;
  border-color: lightblue;
}

select {
  width: 174px;
}

.breadcrumb {
  background-color: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .flex-container {
    display: flex;
  }
  .last-name-group {
    margin-left: 50px;
  }
  .nationality-group {
    margin-left: 50px;
  }

  .city-group {
    margin-left: 30px;
  }
  .job-function-group {
    margin-left: 60px;
  }

  .company-group {
    margin-left: 60px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .flex-container {
    display: flex;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .flex-container {
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .flex-container {
    display: flex;
  }
}
